* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import "https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,500;1,500;1,900&family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700;1,900&display=swap";
@font-face {
	font-family: icons;
	src: url(icons.202421b288d6dad3.eot#iefix) format("embedded-opentype"),
		url(../fonts/icons.fd92048a002b2800.woff2) format("woff2"),
		url(icons.7593b2236d7de330.woff) format("woff");
}

i[class^="icon-"]:before,
i[class*=" icon-"]:before {
	font-family: icons !important;
	font-style: normal;
	font-weight: 400 !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
	content: "\f101";
}

.icon-achievements:before {
	content: "\f102";
}

.icon-angle:before {
	content: "\f103";
}

.icon-app:before {
	content: "\f104";
}

.icon-apple-store:before {
	content: "\f105";
}

.icon-arrow-left:before {
	content: "\f106";
}

.icon-arrow-right:before {
	content: "\f107";
}

.icon-arrow-with-line:before {
	content: "\f108";
}

.icon-arrow:before {
	content: "\f109";
}

.icon-at:before {
	content: "\f10a";
}

.icon-back:before {
	content: "\f10b";
}

.icon-balance-coins:before {
	content: "\f10c";
}

.icon-balance:before {
	content: "\f10d";
}

.icon-blackjack:before {
	content: "\f10e";
}

.icon-bonus-buy:before {
	content: "\f10f";
}

.icon-bonus-map:before {
	content: "\f110";
}

.icon-bonuses:before {
	content: "\f111";
}

.icon-card:before {
	content: "\f112";
}

.icon-chat:before {
	content: "\f113";
}

.icon-check-circle:before {
	content: "\f114";
}

.icon-check:before {
	content: "\f115";
}

.icon-checked:before {
	content: "\f116";
}

.icon-circle-star:before {
	content: "\f117";
}

.icon-circle:before {
	content: "\f118";
}

.icon-close-circle:before {
	content: "\f119";
}

.icon-close:before {
	content: "\f11a";
}

.icon-coin:before {
	content: "\f11b";
}

.icon-coins:before {
	content: "\f11c";
}

.icon-comment:before {
	content: "\f11d";
}

.icon-copy:before {
	content: "\f11e";
}

.icon-crash-games:before {
	content: "\f11f";
}

.icon-cross:before {
	content: "\f120";
}

.icon-cup:before {
	content: "\f121";
}

.icon-download:before {
	content: "\f122";
}

.icon-drops-and-wins:before {
	content: "\f123";
}

.icon-email:before {
	content: "\f124";
}

.icon-error:before {
	content: "\f125";
}

.icon-exchange:before {
	content: "\f126";
}

.icon-exit:before {
	content: "\f127";
}

.icon-eye-hidden:before {
	content: "\f128";
}

.icon-eye:before {
	content: "\f129";
}

.icon-favorites:before {
	content: "\f12a";
}

.icon-fetch:before {
	content: "\f12b";
}

.icon-file-success:before {
	content: "\f12c";
}

.icon-file:before {
	content: "\f12d";
}

.icon-filter:before {
	content: "\f12e";
}

.icon-flash:before {
	content: "\f12f";
}

.icon-gift:before {
	content: "\f130";
}

.icon-google:before {
	content: "\f131";
}

.icon-halloween:before {
	content: "\f132";
}

.icon-heart:before {
	content: "\f133";
}

.icon-hot-badge:before {
	content: "\f134";
}

.icon-hot:before {
	content: "\f135";
}

.icon-info-alt:before {
	content: "\f136";
}

.icon-info:before {
	content: "\f137";
}

.icon-instagram:before {
	content: "\f138";
}

.icon-instant-games:before {
	content: "\f139";
}

.icon-jackpot:before {
	content: "\f13a";
}

.icon-joker:before {
	content: "\f13b";
}

.icon-last-played:before {
	content: "\f13c";
}

.icon-left-arrow:before {
	content: "\f13d";
}

.icon-link:before {
	content: "\f13e";
}

.icon-live-casino:before {
	content: "\f13f";
}

.icon-live-chat:before {
	content: "\f140";
}

.icon-loader:before {
	content: "\f141";
}

.icon-lobby:before {
	content: "\f142";
}

.icon-loyalty-program:before {
	content: "\f143";
}

.icon-mail:before {
	content: "\f144";
}

.icon-menu:before {
	content: "\f145";
}

.icon-message:before {
	content: "\f146";
}

.icon-minus:before {
	content: "\f147";
}

.icon-my-bonuses:before {
	content: "\f148";
}

.icon-new:before {
	content: "\f149";
}

.icon-note:before {
	content: "\f14a";
}

.icon-oktoberfest:before {
	content: "\f14b";
}

.icon-payments:before {
	content: "\f14c";
}

.icon-person-card:before {
	content: "\f14d";
}

.icon-play-ico:before {
	content: "\f14e";
}

.icon-play:before {
	content: "\f14f";
}

.icon-playbonus:before {
	content: "\f150";
}

.icon-playmarket:before {
	content: "\f151";
}

.icon-plus:before {
	content: "\f152";
}

.icon-pop:before {
	content: "\f153";
}

.icon-popular:before {
	content: "\f154";
}

.icon-promos:before {
	content: "\f155";
}

.icon-providers:before {
	content: "\f156";
}

.icon-qa:before {
	content: "\f157";
}

.icon-random-search:before {
	content: "\f158";
}

.icon-real-check:before {
	content: "\f159";
}

.icon-right-arrow:before {
	content: "\f15a";
}

.icon-roulette:before {
	content: "\f15b";
}

.icon-safety:before {
	content: "\f15c";
}

.icon-scale:before {
	content: "\f15d";
}

.icon-search-form:before {
	content: "\f15e";
}

.icon-search:before {
	content: "\f15f";
}

.icon-shark:before {
	content: "\f160";
}

.icon-shop:before {
	content: "\f161";
}

.icon-signup:before {
	content: "\f162";
}

.icon-slots:before {
	content: "\f163";
}

.icon-star-outline:before {
	content: "\f164";
}

.icon-star:before {
	content: "\f165";
}

.icon-success:before {
	content: "\f166";
}

.icon-support:before {
	content: "\f167";
}

.icon-table-games:before {
	content: "\f168";
}

.icon-telegram:before {
	content: "\f169";
}

.icon-time:before {
	content: "\f16a";
}

.icon-tournaments:before {
	content: "\f16b";
}

.icon-unscale:before {
	content: "\f16c";
}

.icon-upload:before {
	content: "\f16d";
}

.icon-user-place:before {
	content: "\f16e";
}

.icon-vpn:before {
	content: "\f16f";
}

.icon-wallet-bonus:before {
	content: "\f170";
}

.icon-wallet-minus:before {
	content: "\f171";
}

.icon-wallet-plus:before {
	content: "\f172";
}

.icon-wallet:before {
	content: "\f173";
}

.icon-drops-and-wins:before {
	content: "\f123";
	font-family: icons !important;
	font-style: normal;
	font-weight: 400 !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
	border: 0;
	background: none;
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}

// ::-webkit-scrollbar {
// 	display: none;
// }

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-thumb {
	background: #464958;
	border-radius: 100px;
	border: 1px solid rgb(18 21 30 / 1);
}

::-webkit-scrollbar-track {
	background: rgb(18 21 30 / 1);
}

html {
	font-size: 16px;
}

body {
	background-color: rgb(18 21 30 / 1);
	font-family: "Fira Sans", sans-serif;
	color: rgb(255 255 255 / 1);
}

.container {
	width: calc(100% - 40px);
	margin: 0 auto;
	max-width: 1640px;
}

.support {
	position: fixed;
	width: 120px;
	aspect-ratio: 120/100;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	left: 132px;
	bottom: 1.5rem;
	img {
		width: 100%;
		height: 100%;
		position: absolute;
	}
	span {
		text-shadow: 0px 1.29032px 5.16129px #2e5a71;
		font-size: 17px;
		position: relative;
		font-weight: 900;
	}
}

aside {
	height: 100vh;
	width: 104px;
	background-color: rgb(30 34 47 / 1);
	padding-top: 1rem;
	padding-bottom: 1rem;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 0;
	&::-webkit-scrollbar-thumb {
		background: #464958;
		border-radius: 100px;
		border: 1px solid rgb(30 34 47 / 1);
	}

	&::-webkit-scrollbar-track {
		background: rgb(30 34 47 / 1);
	}
	a {
		width: 100%;
		height: 100%;
		ul {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			li {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: relative;
				font-size: 13px;
				padding: 0.5rem 1rem;
				width: 6rem;
				margin-top: calc(0.5rem * calc(1 - 0));
				margin-bottom: calc(0.5rem * 0);
				&:first-child {
					margin-top: 0;
					background: linear-gradient(
						0deg,
						rgba(255, 165, 48, 0.2) -7.58%,
						rgba(255, 165, 48, 0.08) 100%
					);
					border-radius: 0.5rem;
					padding: 0.5rem 0;
					&:before {
						content: "";
						pointer-events: none;
						position: absolute;
						left: 0px;
						top: 0px;
						height: 100%;
						width: 100%;
						border-left: 2px solid rgb(255 201 63 / 1);
						border-radius: 0.5rem;
						//margin-left: 10px;
					}
				}
				&:nth-child(11) {
					border: 1px solid rgb(18 21 30 / 1);
					height: 0.125rem;
					margin-left: auto;
					margin-right: auto;
					width: 70%;
					padding: 0;
					background-color: #787b8599;
				}
				&:nth-child(12) {
					i {
						background: linear-gradient(313.42deg, #ff4b55 1.45%, #ffbad3 100%);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
				&:nth-child(13) {
					i {
						background: linear-gradient(
							273.07deg,
							#ff4b0a 0.52%,
							#ff9600 98.26%
						);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
				&:nth-child(14) {
					i {
						background: linear-gradient(
							128.51deg,
							#ef8dff 4.54%,
							#663fff 90.58%
						);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
				&:nth-child(15) {
					i {
						background: linear-gradient(
							153.47deg,
							#ffaa71 5.11%,
							#fbca03 105.63%
						);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
				&:nth-child(16) {
					i {
						background: linear-gradient(
							273.07deg,
							#00c8f3 0.52%,
							#73e9ff 98.26%
						);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
				&:nth-child(17) {
					i {
						background: linear-gradient(248deg, #ff9839 0%, #ffc93f 100%);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
				&:nth-child(19) {
					i {
						background: linear-gradient(
							128.51deg,
							#ef8dff 4.54%,
							#663fff 90.58%
						);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
				&:nth-child(20) {
					i {
						background: linear-gradient(90deg, #4dc9ff 0%, #5690ff 100%);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
				&:nth-child(21) {
					i {
						background: linear-gradient(242deg, #ff85f3 0%, #ff737b 100%);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
				&:nth-child(22) {
					i {
						background: linear-gradient(
							273.07deg,
							#00c8f3 0.52%,
							#73e9ff 98.26%
						);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
				&:nth-child(24) {
					border: 1px solid #787b8599;
					height: 0.125rem;
					margin-left: auto;
					margin-right: auto;
					width: 70%;
					padding: 0;
				}
				i {
					font-size: 1.5rem;
				}
				img {
					width: 24px;
				}
			}
		}
	}
}

.wrap {
	margin-left: 104px;
}

header {
	height: 4.5rem;
	position: sticky;
	top: 0;
	background-color: rgb(18, 21, 30);
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 195px;
	aspect-ratio: 195/56;
	display: flex;
	img {
		width: 100%;
		height: 100%;
	}
}

.search {
	display: flex;
	align-items: center;
	width: 740px;
	padding-left: 0.875rem;
	padding-right: 0.875rem;
	height: 39px;
	border: 2px solid rgb(120 123 133 / 1);
	color: rgb(120 123 133 / 1);
	font-size: 15px;
	border-radius: 0.5rem;
	gap: 0.75rem;
}

.header__btns {
	display: flex;
	gap: calc(0.5rem * calc(1 - 0));
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2.5rem;

		border-radius: 9999px;
		font-size: 17px;
		color: rgb(255 201 63 / 1);
		text-transform: uppercase;
		font-style: italic;
		font-weight: 700;
		position: relative;
		background-image: linear-gradient(296deg, #ff9839 8.74%, #ffc93f 76.1%);
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: calc(100% - 2px);
			height: calc(100% - 2px);
			background: rgb(18, 21, 30);
			padding: 0 1rem;
			border-radius: 9999px;
		}

		&:nth-child(2) {
			color: rgb(18 21 30 / 1);
			span {
				width: calc(100%);
				height: calc(100%);
				background-image: linear-gradient(296deg, #ff9839 8.74%, #ffc93f 76.1%);
			}
		}
	}
}

.top__body {
	display: flex;

	justify-content: space-between;
}

.banner {
	position: relative;
	width: 1088px;
	height: 434px;
	border-radius: 1rem;
	overflow: hidden;
}

.banner__img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.banner__img__2 {
	position: absolute;
	width: 506px;
	right: 100px;
	bottom: 20px;
}

.banner__content {
	padding-top: 4rem;
	padding-bottom: 0;
	padding-left: 3.5rem;
	position: relative;
	p {
		&:nth-child(1) {
			font-size: 36px;
			text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
				1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000,
				4px 4px 0px #000;
			line-height: 1.75rem;
			font-weight: 700;
			font-style: italic;
		}
		&:nth-child(2) {
			font-size: 80px;
			margin-top: 0.5rem;
			font-weight: 900;
			font-style: italic;
			line-height: 1;
			background-image: linear-gradient(296deg, #ff9839 8.74%, #ffc93f 76.1%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			width: max-content;
			position: relative;
		}
		&:nth-child(3) {
			display: flex;
			align-items: center;
			margin-top: 0.5rem;
			width: max-content;
			span {
				&:nth-child(1) {
					font-size: 36px;
					text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
						1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000,
						4px 4px 0px #000;

					line-height: 1.75rem;
					font-weight: 700;
					font-style: italic;
				}
				&:nth-child(2) {
					box-shadow: 2px 3px #000;
					border-width: 2px;
					--tw-border-opacity: 1;
					border-color: rgb(0 0 0 / 1);

					display: inline-block;
					border-radius: 9999px;
					--tw-bg-opacity: 1;
					background-color: rgb(255 255 255 / 1);
					padding: 0.25rem 0.5rem;
					font-size: 19px;
					font-weight: 900;
					font-style: italic;
					line-height: 20px;
					--tw-text-opacity: 1;
					color: rgb(18 21 30 / 1);
					margin-left: 1rem;
				}
			}
		}
		&:nth-child(4) {
			margin-top: 2rem;
			box-shadow: 0 0 #0000, 0 0 #0000,
				0px 4px 8px 0px rgba(255, 255, 255, 0.3) inset,
				0px 3px 4px 0px rgba(18, 21, 30, 0.2);
			width: max-content;
			height: 3rem;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 2rem;
			background-image: linear-gradient(296deg, #ff9839 8.74%, #ffc93f 76.1%);
			--tw-text-opacity: 1;
			color: rgb(18 21 30 / 1);
			border-radius: 0.5rem;
			font-size: 17px;
			font-weight: 900;
			text-transform: uppercase;
			font-style: italic;
			line-height: 1rem;
		}
	}
}

.form {
	padding-bottom: 2rem;
	padding: 2.5rem;
	padding-left: 3rem;
	padding-right: 3rem;
	border-radius: 1rem;
	background-color: rgb(30 34 47 / 1);
	width: 536px;
	height: 434px;
}

.form__inputs {
	display: flex;
	flex-direction: column;
	color: rgb(120 123 133 / 1);
	border: 1px solid #464958;
	border-radius: 0.5rem;
	overflow: hidden;
	a {
		padding: 0 1rem;
		font-size: 17px;
		line-height: 1rem;
		height: 52.8px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #464958;
		&:nth-child(3) {
			border-bottom: 0;
			justify-content: space-between;
		}
	}
}

.chk {
	margin: 0;
	padding: 0.5rem 0;

	font-size: 13px;
	--mdc-checkbox-state-layer-size: 20px;
	display: flex;
	align-items: flex-start;
	gap: 8px;
	span {
		border: 1px solid #787b85;
		width: 20px;
		height: 20px;
		min-width: 20px;
	}
	p {
		color: rgb(120 123 133 / 1);
		strong {
			color: #fff;
		}
	}
}

.form__btn {
	box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000;
	height: 3rem;
	padding: 0 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1.5rem;
	background-image: linear-gradient(296deg, #ff9839 8.74%, #ffc93f 76.1%);
	--tw-text-opacity: 1;
	color: rgb(18 21 30 / 1);
	border-radius: 0.5rem;

	font-size: 17px;
	font-weight: 900;
	text-transform: uppercase;
	font-style: italic;
	line-height: 1rem;
}

.form__btn__2 {
	margin-top: 1rem;
	color: rgb(120 123 133 / 1);
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
	display: block;
}

.form__bottom {
	color: rgb(120 123 133 / 1);
	font-style: italic;
	font-size: 13px;
	margin-top: 1.5rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	i {
		font-size: 16px;
		transform: translateY(3px);
	}
}

.top__menu {
	margin-top: 1rem;
	ul {
		display: flex;
		justify-content: space-between;

		li {
			&:nth-child(1) {
				i {
					background: linear-gradient(313.42deg, #ff4b55 1.45%, #ffbad3 100%);
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
			&:nth-child(2) {
				i {
					background: linear-gradient(273.07deg, #ff4b0a 0.52%, #ff9600 98.26%);
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
			&:nth-child(3) {
				i {
					background: linear-gradient(128.51deg, #ef8dff 4.54%, #663fff 90.58%);
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
			&:nth-child(4) {
				i {
					background: linear-gradient(
						153.47deg,
						#ffaa71 5.11%,
						#fbca03 105.63%
					);
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
			&:nth-child(5) {
				i {
					background: linear-gradient(273.07deg, #00c8f3 0.52%, #73e9ff 98.26%);
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
			&:nth-child(6) {
				i {
					background: linear-gradient(248deg, #ff9839 0%, #ffc93f 100%);
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
			&:nth-child(8) {
				i {
					background: linear-gradient(128.51deg, #ef8dff 4.54%, #663fff 90.58%);
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
			&:nth-child(9) {
				i {
					background: linear-gradient(90deg, #4dc9ff 0%, #5690ff 100%);
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
			&:nth-child(10) {
				i {
					background: linear-gradient(242deg, #ff85f3 0%, #ff737b 100%);
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
			&:nth-child(11) {
				i {
					background: linear-gradient(273.07deg, #00c8f3 0.52%, #73e9ff 98.26%);
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
			a {
				font-size: 17px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				border-radius: 1rem;
				--tw-bg-opacity: 1;
				background-color: rgb(30 34 47 / 1);
				padding: 0 0.25rem;
				text-align: center;
				line-height: 1.25rem;
				gap: 0.625rem;
				width: 129px;
				height: 121px;
				i {
					font-size: 48px;
				}
				img {
					width: 48px;
				}
			}
		}
	}
}

.cards {
	margin-top: 2rem;
}

.cards__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cards__title {
	font-size: 3rem;
	line-height: 1;
	font-weight: 500;
}

.cards__nav {
	display: flex;
	align-items: center;
	gap: calc(0.375rem * calc(1 - 0));
	p {
		font-size: 15px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		color: rgb(255 255 255 / 1);
		box-shadow: inset 0 0 0 1px #7a828c4d;
		border-radius: 0.5rem;
		padding-left: 1rem;
		padding-right: 1rem;
		font-weight: 900;
		text-transform: uppercase;
		font-style: italic;
		line-height: 1rem;
		height: 2.5rem;
	}
}

.cards__arrows {
	display: flex;
	gap: calc(0.375rem * calc(1 - 0));
	span {
		color: rgb(255 255 255 / 1);
		box-shadow: inset 0 0 0 1px #7a828c4d;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0.5rem;
		padding-left: 1rem;
		padding-right: 1rem;
		font-size: 17px;
		font-weight: 900;
		text-transform: uppercase;
		font-style: italic;
		line-height: 1rem;
		height: 2.5rem;
	}
}

.cards__list {
	margin-top: 1.5rem;
	display: flex;
	justify-content: space-between;
}

.cards__item {
	width: 260px;
}

.cards__item__img {
	width: 100%;
	aspect-ratio: 1/1;
	border-radius: 1rem;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.cards__item__text {
	display: flex;
	flex-direction: column;
	font-size: 19px;
	line-height: 1.25rem;
	padding-top: 0.75rem;
	span {
		&:nth-child(1) {
			font-weight: 700;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-line-clamp: 1;
		}
		&:nth-child(2) {
			font-size: 13px;
			margin-top: 0.25rem;
			color: rgb(120 123 133 / 1);
		}
	}
}

.cards__list {
	&:nth-child(3) {
		margin-top: 1rem;
	}
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 40px 0;
}

.content__item {
	font-size: 18px;
	line-height: 1.5;
	font-weight: 400;
	strong {
		font-weight: 900;
	}
	h1,
	h2,
	h3,
	h4 {
		font-weight: 900;
	}
	h1 {
		font-size: 40px;
		margin-bottom: 10px;
	}
	h2 {
		font-size: 35px;
		margin-bottom: 10px;
	}
	h3 {
		font-size: 27px;
		margin-bottom: 10px;
	}
	h4 {
		font-size: 20px;
		margin-bottom: 10px;
	}
	p,
	.content__table,
	ul,
	ol {
		margin-bottom: 20px;
	}
	ol,
	ul {
		padding-left: 50px;
		list-style: auto;
		display: flex;
		flex-direction: column;
		gap: 15px;
		p {
			margin-bottom: 15px;
		}
	}
	ul {
		list-style: disc;
	}

	h3,
	ol,
	p,
	.content__table,
	ul {
		&:last-child {
			margin-bottom: 0;
		}
	}
	&.faq {
		.faq__item {
			margin-bottom: 25px;
			p,
			ol,
			ul,
			.content__table {
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			p {
				&:first-child {
					margin-bottom: 15px;
					font-size: 25px;
					font-weight: 900;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.content__table {
	table {
		border-collapse: collapse;
	}
	td {
		padding: 12px;
		border: 1px solid rgb(255, 255, 255);
		text-align: left;
		vertical-align: top;
	}
}

.table--style__2 {
	tr {
		&:first-child {
			td {
				text-align: center;
				font-weight: 900;
			}
		}
	}
}

.table--style {
	tr {
		&:first-child {
			td {
				text-align: center;
				font-weight: 900;
			}
		}
	}
	td {
		&:nth-child(1) {
			font-weight: 900;
		}
	}
}

footer {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.footer__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__left {
	display: flex;
	align-items: center;
	gap: calc(2rem * calc(1 - 0));
	.logo {
		width: 139px;
	}
}

.lg {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.footer__right {
	display: flex;
	gap: calc(1rem * calc(1 - 0));
	span {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background-color: rgb(240 0 115 / 1);
		&:nth-child(2) {
			background-color: rgb(0 136 204 / 1);
		}
		i {
			height: 16px;
		}
	}
}

.footer__menu {
	margin-top: 2rem;
	display: block;
	ul {
		columns: 6;
		column-gap: 2.5rem;
		row-gap: 1rem;

		li {
			font-size: 17px;
			line-height: 1.5rem;
			margin-bottom: 1rem;
			display: flex;
		}
	}
}

.mobile-menu {
	display: none;
}

@media (max-width: 1919px) {
	aside {
		width: 115px;
	}
	.banner {
		width: 65.3%;
	}
	.form {
		width: 32.1%;
	}
	.top__menu ul li a {
		width: 100%;
	}
	.top__menu ul li {
		width: 7.7%;
	}
	.cards__item {
		width: 18.9%;
		min-width: 18.9%;
	}
	.cards__list {
		justify-content: flex-start;
		gap: 1rem;
		overflow-x: auto;
		overflow-y: hidden;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.wrap {
		margin-left: 115px;
	}

	.banner__img__2 {
		width: 496px;
		right: 20px;
	}
	.search {
		width: 610px;
	}
}

@media (max-width: 1250px) {
	aside {
		width: 0px;
	}
	.wrap {
		margin-left: 0;
	}
	.form {
		display: none;
	}
	.banner {
		width: 100%;
	}
	.search {
		width: 300px;
	}
	.logo {
		width: 150px;
	}
	.top__menu ul {
		overflow-x: auto;
		overflow-y: hidden;
		gap: 0.5rem;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.top__menu ul li {
		width: 92px;
		min-width: 92px;
	}
	.support {
		left: 10px;
		bottom: 38px;
		z-index: 3;
	}
}

.header__btns a {
	&:nth-child(1) {
		span {
			&:nth-child(2) {
				display: none;
			}
		}
	}
}

@media (max-width: 767px) {
	.header__btns a {
		&:nth-child(1) {
			width: 32px;
			height: 32px;
			min-height: 32px;
			border-radius: 50%;
			span {
				&:nth-child(1) {
					display: none;
				}
				&:nth-child(2) {
					display: flex;
					align-items: center;
					justify-content: center;
					width: calc(100% - 4px);
					height: calc(100% - 4px);
					background: rgb(18, 21, 30);
					padding: 0;
				}
			}
		}
		&:nth-child(2) {
			height: 32px;
			font-size: 15px;
		}
	}
	header {
		height: 56px;
	}
	.search {
		width: 16px;
		height: 16px;
		padding: 0;
		border: 0;
		transform: translateX(5.5vw);
		span {
			display: none;
		}
	}
	.logo {
		width: 111px;
	}
	.banner {
		height: 338px;
	}
	.container {
		width: calc(100% - 32px);
	}
	.banner__content {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		padding-left: 1.5rem;
	}
	.banner__content p:nth-child(1) {
		font-size: 1.25rem;
	}
	.banner__content p:nth-child(2) {
		margin-top: 0.5rem;
		font-size: 3rem;
	}
	.banner__content p:nth-child(3) span:nth-child(1) {
		font-size: 1.25rem;
	}
	.banner__content p:nth-child(3) span:nth-child(2) {
		padding: 0.25rem 0.5rem;
		font-size: 15px;
	}
	.banner__content p:nth-child(4) {
		margin-top: 1rem;
	}
	.top__menu ul li a {
		height: 107px;
		font-size: 13px;
	}

	.top__menu ul {
		width: calc(100% + 16px);
		padding-right: 16px;
	}
	.top__menu ul li a i {
		font-size: 32px;
	}
	.cards__title {
		font-size: 28px;
	}
	.cards__arrows {
		display: none;
	}
	.cards__top {
		flex-wrap: wrap;
	}
	.cards__list {
		width: calc(100% + 16px);
		padding-right: 16px;
		gap: 0.5rem;
	}
	.cards__item {
		width: 104px;
		min-width: 104px;
	}
	.cards__item__text span:nth-child(1) {
		font-size: 15px;
	}
	.cards__item__text span:nth-child(2) {
		font-size: 11px;
	}
	.support {
		width: 96px;
		left: 1rem;
		bottom: 78px;
	}
	.support span {
		font-size: 14px;
	}
	.content__table {
		width: calc(100% + 16px);
		padding-right: 16px;
		overflow-x: auto;
		overflow-y: hidden;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.content__item {
		font-size: 16px;
	}
	.content__item ol,
	.content__item ul {
		padding-left: 30px;
	}
	.footer__top {
		flex-wrap: wrap;
	}
	.footer__menu ul {
		columns: 2;

		column-gap: 1px;
	}
	.banner__img__2 {
		width: 260px;
		right: -25px;
	}
	.mobile-menu {
		display: grid;
		width: 100%;
		grid-template-columns: repeat(5, 1fr);
		gap: 0.5rem;
		--tw-bg-opacity: 1;
		background-color: rgb(30 34 47 / 1);
		padding: 0.25rem;
		position: fixed;
		bottom: 0;
		left: 0;
		height: 64px;
		z-index: 50;
		div {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-size: 10px;
			line-height: 0.75rem;
			gap: calc(0.25rem * calc(1 - 0));
			i {
				font-size: 24px;
			}
			&:nth-child(3) {
				i {
					font-size: 16px;
					color: rgb(255, 201, 63);
				}
				margin-top: -15px;
				p {
					&:nth-child(1) {
						background-image: linear-gradient(
							296deg,
							#ff9839 8.74%,
							#ffc93f 76.1%
						);
						width: 36px;
						height: 36px;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						span {
							&:nth-child(1) {
								display: flex;
								align-items: center;
								justify-content: center;
								width: calc(100% - 4px);
								height: calc(100% - 4px);
								background: rgb(18, 21, 30);
								padding: 0;
								border-radius: 50%;
							}
						}
					}
					&:nth-child(2) {
						background-image: linear-gradient(
							296deg,
							#ff9839 8.74%,
							#ffc93f 76.1%
						);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
			}
		}
	}
}
